.contenaireDetail {
    text-align: center;
    padding-top: 3em;
}

.emodji {
    color: black;
    font-size: 10em;
    margin-bottom: 30px;
}

.nom {
    color: black;
    font-size: 2em;
    font-weight: 500;
}

.contient {
    color: black;
    font-size: 1.8em;
    font-weight: 400;
}